
.stock-details {
    padding: 2rem;
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.stock-details h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.stock-details table {
    width: 100%;
    border-collapse: collapse;
}

.stock-details th,
.stock-details td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.stock-details th {
    background-color: #ffffff;
}

.stock-details tr:hover {
    background-color: #f9f9f9;
}
